@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

/* Nav Bar */

header{
    background-color: #3b141c;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 30px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}

.nav-logo, .nav-link{
    color: var(--white-color);
    text-decoration: none;
    font-weight: var(--font-weight-normal);
}

.nav-link{
    padding: 15px;
    border-radius: var(--border-radius-m);
}

.nav-link:hover{
    background-color: var(--secondary-color);
    transition: 0.1s ease-in;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: var(--primary-color);
    color: var(--white-color)
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-header{
    font-family: "Miniver";
    color: var(--secondary-color)
}


button{
    padding: 15px 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: var(--font-size-m);
    cursor: pointer
}

#contact-btn:hover, #order-btn{
    border: none;
    border-radius: 30px;
    color: black;
    background-color: var(--secondary-color);
    transition: 0.2s ease-in;
}

#order-btn:hover, #contact-btn{
    border: 2px solid white;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--light-pink-color);
    transition: 0.2s ease-in;
}

.about-content{
    display: 'flex';
    gap: 15px;
    text-align: center;    
}




