@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

/* Important Elements*/
header{
    background-color: #3b141c;
    position: fixed;
    width: 100%; z-index: 1;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px
}

button{
    padding: 15px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    cursor: pointer
}

a{
    text-decoration: none;
}


#menu-close-btn{
    visibility: hidden;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
    font-size: 20px;
}

#menu-open-btn{
    visibility: hidden;
    border: none;
    background: transparent; 
    font-size: var(--font-size-l);
    color: var(--white-color);
}

/* Nav Bar */
.nav-content { 
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 30px;
}




.nav-bar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px; 
}

.nav-logo, .nav-link{
    color: var(--white-color);
    font-weight: var(--font-weight-normal);
}

.nav-link{
    padding: 15px;
    border-radius: var(--border-radius-m);
}

.nav-link:hover{
    background-color: var(--secondary-color);
    transition: 0.1s ease-in;
}

/* Hero Section */
.hero-section{
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 30px 100px;
    background-color: var(--primary-color);
    color: var(--white-color)
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-header{
    font-family: "Miniver", sans-serif;
    color: var(--secondary-color);
    font-size: var(--font-size-xxl)
}

.hero-img{
    width: 450px; transition: 0.5s ease;
}

.hero-img:hover{
    scale: 1.25; 
}
#contact-btn:hover, #order-btn{
    border: none;
    border-radius: 30px;
    color: black;
    background-color: var(--secondary-color);
    transition: 0.2s ease-in;
}

#order-btn:hover, #contact-btn{
    border: 2px solid white;
    border-radius: 30px;
    background: transparent;
    color: var(--light-pink-color);
    transition: 0.2s ease-in;
}

.about-section{
    min-height: 80vh;
    padding-top: 30px;
    padding: 0 200px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    font-size: 1.25rem;
    overflow: hidden;
}

.about-img{
    width: 500px ;
    height: 500px;
    border-radius: 100%;
    object-fit: cover;
    background-image: url("images/about-image.jpg");
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-header{
    padding: 3px;
    border-bottom: solid #ffba1a 5px;
}

.about-text{
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0 40px;
}

.social-icon:hover{
    color: #f3961c;
}

.contact-icons{
    display: flex;
    gap: 50px;
}

.social-icon{
    font-size: 2rem;
}

#menu{
    color: var(--white-color);
    background-color: var(--dark-color);
    overflow: hidden;
}

.menu-content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}

.menu-header{
    padding: 3px;
    border-bottom: solid #ffba1a 5px;
}

.menu-items{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 130px;
}

.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-item p{
    font-size: 1.2rem;
}

#testimonials{
    padding: 30px 0;
    text-align: center;
    background-color: #faf4f5;
}

.testimonials-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

.testimonials-header{
    padding: 3px;
    border-bottom: solid #ffba1a 5px;
}

.testimonials-group{
    overflow: hidden;
}

.testimonials-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.testimonials-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.testimonials-item img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.testimonial-text{
    width: 300px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;   
}

#gallery{
    padding: 30px 0;
    text-align: center; 
}

.gallery-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

.gallery-header{
    border-bottom: solid #ffba1a 5px; 
}

.gallery-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.gallery-item-wrapper{ 
    border: solid #ffba1a 7px;
    border-radius: 20px; overflow: hidden; display: flex;
}

.gallery-item{
     transition: 0.3s ease
}

.gallery-item:hover{
    scale: 1.25

}


#contact{
    background-color: #faf4f5;
    padding: 20px 0 50px;
    text-align: center;
}

.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-header{
    border-bottom: solid #f3961c 5px;
}

.contact-items-container{    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
}

.contact-items{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.contact-item p{margin: 0 10px;}

.input-item{
    width: 350px;
    padding: 15px 10px;
    border-radius: 5px;  
    border: solid #ccc 1px;
}

.contact-btn{ margin-left: 15px ;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background: #3b141c;
    font-size: 1.01rem;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease ;
}

.contact-btn:hover{ 
    border: #3b141c solid 3px ;
    background: transparent;
    color: #3b141c;
}

#footer{
    padding: 15px 0;
    background-color: #252525;  color: #fff;
}

.footer-content{
    display: flex;
    justify-content :space-between;
    align-items: center;
    padding: 0 50px; 
    flex-wrap: wrap;
}

.social-icon-footer{
    margin: 0 5px;
    font-size: 1.4rem;
    color: #fff;
}

.social-icon-footer:hover{
    color: #ffba1a;
}

/* Responsiveness */
@media screen and (max-width: 1200px){
    .nav-menu{
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-m);
        background: var(--white-color);
        transition: 0.2s ease-in-out;
    }

    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
        padding: 100px 0;
    }
    
    .about-section{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        padding: 50px 0;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }

    .testimonials-items{
        flex-wrap: wrap
    }   

    .about-img{
        margin-top: 30px;
    }

    .hero-section img{
        padding-top: 100px
    }

    .nav-link{ 
        color: var(--dark-color);
    }

    #menu-close-btn{
        visibility: visible;
    }

    #menu-open-btn{
        visibility: visible;
    }


}